.main-container {
  display: flex;
  flex-direction: row;
}
.card-container {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.training-card {
  display: flex;
  overflow: scroll;
  max-height: 500px;
}

.query-container {
}

.card {
  border: 3px solid #ccc;
  /* padding: 10px; */
  border-radius: 8px;
  min-height: 400px;
  max-height: 400px;
  margin-bottom: 10px;
  flex-wrap: wrap;
  display: flex;
  overflow: hidden;
  flex: 1;
}
.card-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
button {
  margin: 4px;
}

.bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.img-wrapper {
  height: 100px;
  width: 100px;
  margin: 4px;
  border-radius: 4px;
  overflow: hidden;
}

dialog::backdrop {
  /* background: rgba(0, 0, 0, 0.4); */
  /* backdrop-filter: blur(1px); */
}
